@inherits LayoutComponentBase
@using Services
@inject IUserService UserService

<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="navbar-brand">EVote</div>
        <div class="navbar-nav">
            <NavLink href="" class="nav-item nav-link" Match="NavLinkMatch.All">Campaigns</NavLink>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="navbar-nav">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Username</span>
                    </div>
                    <input type="text" class="form-control" bind="@UserService.Username" placeholder="username" />
                </div>
            </li>
        </ul>
    </nav>
</header>

<main class="container">@Body</main>